<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMMERCE | SCHOOL PROJECT</title>

    <link rel="stylesheet" href="/assets/css/main.css">

    <script src="assets/js/hamburger.js" defer></script>
    <script src="assets/js/dropdown.js" defer></script>

</head>
<body>
    {{> header }}
    {{{ body }}}


</body>
</html>