<div class="about block">
    <div class="overlap">
        <div class="about__title">
            <h1>About Us</h1>
        </div>
        <div class="about__info">
            <p>Welcome to <strong>Ecommerce School Project</strong>!</p>

            <p>At <strong>Ecommerce School Project</strong>, we believe that furniture is more than just functional pieces; it's an essential part of your home and your life. Founded in <strong>2024</strong> with a passion for quality design and craftsmanship, we strive to create beautiful, timeless furniture that enhances your living spaces and reflects your unique style.</p>

            <h2>Our Mission</h2>
            <p>Our mission is to provide our customers with high-quality, stylish furniture that combines form and function. We carefully curate each piece in our collection, ensuring that it meets our high standards for quality, sustainability, and design. We are dedicated to making furniture shopping a delightful experience, whether you’re furnishing your first apartment, updating your family home, or creating a cozy retreat.</p>

            <h2>Our Values</h2>
            <ul>
                <li><strong>Quality Craftsmanship:</strong> We partner with skilled artisans and manufacturers who share our commitment to quality and craftsmanship. Each piece of furniture is crafted with care, using premium materials that stand the test of time.</li>
                <li><strong>Sustainability:</strong> We are committed to sustainability and eco-friendly practices. Our furniture is made from responsibly sourced materials, and we prioritize vendors who follow sustainable practices.</li>
                <li><strong>Customer Satisfaction:</strong> Your satisfaction is our top priority. We are here to help you find the perfect pieces for your home and to provide exceptional service throughout your shopping experience.</li>
                <li><strong>Design and Innovation:</strong> Our team of designers is constantly exploring new trends and innovations in the world of furniture. We believe that good design should be accessible, and we work to offer a diverse range of styles that cater to all tastes.</li>
            </ul>
        </div>
    </div>
</div>