<section class="contact block">
    <div class="overlap">
        <h1>Contact Us</h1>

        <div class="contact__info">
            <p><strong>Email:</strong> <a href="mailto:info@ecommerce.com">info@ecommerce.com</a></p>
            <p><strong>Phone:</strong> 070-7777777</p>
            <p><strong>Address:</strong> Furniture Street 12, Jönköping</p>
            <p><strong>Business Hours:</strong> Monday - Friday, 9 AM - 5 PM</p>
        </div>
    </div>
</section>