<main>
    <div class="hero block">
        <div class="hero__container">
            <div class="hero__text">
                <span>Where Comfort Meets Style</span>
            </div>
        </div>
    </div>
    <section class="essentials block">
        <div class="essentials__text">
            <h3>Essentials</h3>
        </div>
        <div class="essentials__products">
            {{> product products=products }}
        </div>
        <div class="essentials__button">
            <a href="/catalogue"><button class="secondary text">Look in our catalogue</button></a>
        </div>
    </section>
</main>