.about {
    padding-bottom: 30px;
}

.about .overlap {
    display: grid;
    gap: 15px;

    max-width: 800px;
    width: 100%;

    margin: 0 auto;
    padding: 20px;
}

.about__info {
    display: grid;
    gap: 15px;

    font-size: var(--fs-40);
}

.about__info li {
    margin: 10px 0;
}